<div class="row tools">
	
	<ul class="nav nav-tabs pull-right" role="tablist">
	  <li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	      Browse <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu" role="menu">
	    	<div class="row" style="width: 450px;">
	    	<% @books.in_groups_of(33, false).each do |book_array| %>	    	
		    	<ul class="list-unstyled col-md-5 dropcol">
		    	       <% for b in book_array %>
		    		<li class="book_link"><%= link_to b.name, b  %></li>
		    	       <% end %>
		    	</ul>	    	
	    	<% end %>
	    	</div>
	    </ul>
	  </li>
	</ul>

</div>

<div class="row">
	<%= @res.body.html_safe %>
</div>